<ion-view view-title="Editar contacto">
  <ion-content class="padding">
    
	<form name="agregarForm" novalidate>
	<div class="list">
	<label class="item item-input">
  	<span class="input-label">Nombre</span>
  	<input type="text" name="nombre"  ng-model="persona[0].nombre" required>
   </label>
   
   <label class="item item-input">
  	<span class="input-label">Apellido</span>
  	<input type="text" name="apellido" ng-model="persona[0].apellido" required>
   </label>
   
   <label class="item item-input">
  	<span class="input-label">Telefono</span>
  	<input type="tel" name="telefono" ng-model="persona[0].telefono"  required>
   </label>
   
   <label class="item item-input">
  	<span class="input-label">Email</span>
  	<input type="text" name="email" ng-model="persona[0].email" required>
   </label>
   </div>
   
   <div class="padding">
    	<p ng-show="agregarForm.nombre.$error.required">Escriba el nombre</p>
    	<p ng-show="agregarForm.apellido.$error.required">Escriba el apellido</p>
    	<p ng-show="agregarForm.telefono.$error.required">Escriba el telefono</p>
    	<p ng-show="agregarForm.email.$error.required">Escriba el email</p>
    	<p>{{ statusMessage }}</p>
	</div>
    
	<input type="hidden" name="id" ng-model="persona[0].id">
   
   <button type="button" class="button icon-left ion-compose button-positive" ng-disabled="agregarForm.$invalid" ng-click="guardar(persona[0])">
  	Guardar
   </button>
   
   </form>
    
  </ion-content>
</ion-view>


